<div class="container">
    <form class="register" [formGroup]="form" (ngSubmit)="register()">

        <fieldset>
            <h2>Registration Form</h2>

            <!-- username -->
            <p class="field field-icon">
                <label for="username"><span><i class="fas fa-user"></i></span></label>
                <input [class]=" isFieldEmpty('username') || usernameMinLengthError ? 'input-error' : ''" 
                type="text" name="username" id="username" placeholder="Johny" formControlName="username">
            </p>
            @if (isFieldEmpty('username') || usernameMinLengthError) {
                <div>
                    @if (isFieldEmpty('username')) {
                        <p class="error">Username is required!</p>
                    }
                    @if (usernameMinLengthError) {
                        <p class="error">Username should be at least 5 characters!</p>
                    }
                </div>
            }

            <!-- email -->
            <p class="field field-icon">
                <label for="email"><span><i class="fas fa-envelope"></i></span></label>
                <input [class]="isFieldEmpty('email') || isEmailValid ? 'input-error' : ''"
                type="email" name="email" id="email" placeholder="john.doe@gmail.com" formControlName="email">
            </p>
            @if (isFieldEmpty('email') || isEmailValid) {
                <div>
                    @if (isFieldEmpty('email')) {
                        <p class="error">Email is required!</p>
                    }
                    @if (isEmailValid) {
                        <p class="error">Email is not valid!</p>
                    }
                </div>
            }

            <!-- telephone -->
            <p class="field field-icon">
                <label for="tel"><span><i class="fas fa-phone"></i></span></label>
                <select name="select-tel" id="select-tel" class="tel">
                    <option value="00359">+359</option>
                </select>
                <input type="text" name="tel" id="tel" placeholder="885 888 888" formControlName="telephone">
            </p>

            <!-- password -->
            <div formGroupName="passGroup">
                <p class="field field-icon">
                    <label for="password"><span><i class="fas fa-lock"></i></span></label>
                    <input [class]="passGroup?.touched && (passGroup?.get('password')?.errors?.['required'] || passGroup?.get('password')?.errors?.['minlength']) ? 'input-error' : ''"
                    type="password" name="password" id="password" placeholder="******" formControlName="password">
                </p>
                @if (passGroup?.touched) {
                    <div>
                        @if (passGroup?.get('password')?.errors?.['required']) {
                            <p class="error">Password is required!</p>
                        }
                        @if (passGroup?.get('password')?.errors?.['minlength']) {
                            <p class="error">Password should be at least 5 characters!</p>
                        }
                    </div>
                }
                
                <!-- rePassword -->
                <p class="field field-icon">
                    <label for="rePassword"><span><i class="fas fa-lock"></i></span></label>
                    <input [class]="passGroup?.touched && passGroup?.errors?.['matchPasswordsValidator'] ? 'input-error' : ''"
                    type="password" name="rePassword" id="rePassword" placeholder="******" formControlName="rePassword">
                </p>
                @if (passGroup?.touched) {
                    <div>
                        @if (passGroup?.errors?.['matchPasswordsValidator']) {
                            <p class="error">Repeat Password does not match password!</p>
                        }
                    </div>
                }
            </div>

            <button [disabled]="form.invalid">Create Account</button>

            <p class="text-center">
                Have an account?
                <a routerLink="/login">Log In</a>
            </p>

        </fieldset>
    </form>
</div>